.advertisement {
    font-size: 40px;
    text-align: center;
}

.cheer {
    height: 500px;
}

.cheerContainer {
    display: flex;
    justify-content: center;
    
}

.ranked-team {
    padding:10px;
    width: fit-content;
    border-radius: 15px;
}

.team-ranking-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.team-ranking {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.ranking-title {
    font-family: "Gutcruncher";
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.ranking-cup {
    width: 25%;
}

.ranking-ball {
    height: 250px;
}

.ranking-ball-container {
    width: 25%;
    display: flex;
    justify-content: center;
    }

.ranking-separator {
    border: 1px solid black;
    margin: 10px
}

.ranking-icons {
    width: 25%;
    display: grid;
    grid-template-columns: [col1] auto [col2] auto [end];
    row-gap: 10px;
}

.ranking-icon {
    justify-self: center;
}

.ranking-icon:hover {
    cursor: pointer;
}

.player-ranking-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ranking-players {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}