.team-nav {
    display: flex;
    justify-content: space-between;
    border: solid;
    background-color: rgb(250, 234, 215);
    text-align: center;
}

.team-button {
    cursor: pointer;
    padding: 0px 5px 0px 5px;
    background-color: rgb(250, 234, 215);
    font-weight: bold;
    font-family: "Gutcruncher";
    width: 100%;
    color: orangered
}

.team-button:hover{
    background-color: orangered;
    font-family: "Gutcruncher";
    border-radius: 5px;
    color: white
}

.selected {
    background-color: orangered;
    color: white;
    border-radius: 5px
}