.App {
  display: flex;
  justify-content: space-between;
}

@font-face {
  font-family: "Gutcruncher";
  src: url(../src/Fonts/Nuffle-OVwjO.ttf) format("truetype");
}
@font-face {
  font-family: "NuffleDice";
  src: url(../src/Fonts/NuffleDice-axWja.ttf) format("truetype");
}